<h3>Autor</h3>
<div class="author"> 
  <img style="float:left;padding:8px;height:140px" src="author-1.jpg" alt="foto">
  <div style="padding:8px">
    <p style="text-align:left">Nombre: Juan Carlos Roa</p>
    <p style="text-align:left">Ciudad: Madrid </p>
  </div>
  <div style="clear:both; height:4px"></div>
</div>

