<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Quiz</title>
    <link rel='icon' href='favicon.png' type='image/png' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
          type='text/css'
          media='only screen and (min-width: 800px) and (min-device-width: 481px)'
          href='/stylesheets/wide.css' />
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (max-width: 480px)' 
          href='/stylesheets/smartphone.css' />
  </head>
  <body>
  <div id="page-wrap">
  
    <header class="main" id="h1">  
       <p>Quiz: <span>el juego de las preguntas</span></p>
    </header>
    
    <nav class="main" id="n1" role="navigation">
       <span><a href="/">Inicio</a></span>
       <span><a href="/quizes/">Preguntas</a></span>
       <span><a href="/searching">Búsqueda</a></span>
       <span><a href="/author">Autor</a></span>
    </nav>
    
    <section class="main" id="s1">
       <%- body %>
    </section>
    
    <footer class="main" id="s1">
       <a href="https://github.com/jcroa/quiz-2015-jcrc" target="_blank">Proyecto en GitHub</a>
    </footer>
    
  </div>
  </body>
</html>
