        <form method="get" action="/quizes">        
          <p>Preguntas a mostrar que contengan : <p>
          <input type="text" name="search" value=""/>
          <input type="submit" value="Enviar">
        </form>

