@charset "utf-8";
/* CSS Document */

div#sidebar1 {
	width:200px;
}
div.menu-alquiler {
	padding:8px;
	font-size:12px; 
	font-family:Verdana, Geneva, sans-serif;
}

div.menu-alquiler p {
	color:#666688;
	font-weight:bold;
	padding:6px;
	padding-left:20px;
	background-color:#bff;
	background: -webkit-linear-gradient(top, #f8ffff, #ddeeee);
	background: -moz-linear-gradient(top, #f8ffff, #ddeeee);
	margin-top:4px;
	margin-bottom:0px;
	margin-right: 10px;
	border: #09C solid 1px;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	-web-transition: padding-left .5s;
}
div.menu-alquiler p:hover {
	background-color:#aee;
	color:#003;
	border-color: #f82;
	background: -webkit-linear-gradient(top, #fff8f8, #f0e0b0);
	background: -moz-linear-gradient(top, #fff8f8, #f0e0b0);
}
div.menu-alquiler p:active {
	color:#000;
	padding-left:24px;
}
div.seccion {
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
}

div.seccion h3 {
	color:#069;
	border-style:solid;
	border-width:0px;
	border-color:#069;
	border-bottom-width:2px;
}

#div-fotos .listado-fotos {
   padding:10px;
   
}

#div-fotos .listado-fotos div.item {
	background-color:#ffffff;
}

#div-fotos .listado-fotos img {
   padding:1px;
   border-color:#aaaacc;
   border-style: solid;
   border-width: 1px;
   margin-bottom:4px;
   max-width:520px;
}

#div-fotos .listado-fotos .pie-foto {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:20px;
}

.fotos-ancho-fijo {
}
.fotos-ancho-fijo .item {
	text-align:center;
	min-width:460px;
}
.fotos-ancho-fijo .item img {
	width:440px;
}
.fotos-ancho-fijo .item p {
	margin-right:auto;
	margin-left:auto;
	width:440px;
    text-align:center;
}