/* Hoja de estilo por defecto */

*  { 
  margin: 0; 
  padding: 0;
}

body  { 
  font: 16px Verdana, serif; 
}

header, nav, section, footer   { 
  background: #eee; 
  text-align: center;
}

#page-wrap { 
  margin: 2% auto; 
  color: white; 
}

#page-wrap > .main   { 
  border: 1px solid #999; 
  padding: 1%; 
  margin-bottom: 1px; 
  color: black;
}

#page-wrap > header.main#h1   { 
  border: 1px solid #aaa; 
  background: #303040; 
  padding:2em;
}
#page-wrap > header#h1  p { 
  font-size: 1.6em; 
  color: #c0c0d0;
}
#page-wrap > header#h1  p span { 
  font-size: .9em; 
  color: #b0b0a0;
}

#page-wrap  > footer.main  { 
  background: #303040; 
  text-align: center;
  font-size: 0.9em;
  padding: 1.6em;
}
#page-wrap > footer.main  a,
#page-wrap > footer.main  a:active ,
#page-wrap > footer.main  a:visited,
#page-wrap > footer.main  a:hover {
   font-family: Verdana;
   font-size: .8em;
   color: #f0f0f0;
}

#page-wrap > section.main,
#page-wrap > nav.main  { 
 padding-bottom: 2em;
}

nav span  { 
  margin: 0px 10px 0px 0px;
}

table  {
   margin: auto;
}
#page-wrap > section.main td.item-pregunta {
   padding: .2em;
   text-align: center;
}

p.title2 {
    color: #505060;
    padding-bottom: .8em;
}

form  {
   color: #707080;
   font-size: .9em;
}
form p.enunciado {
   color: #204060;
   font-size: 1.4em;
   padding: 1em;
}

#page-wrap .admin-button a ,
#page-wrap .admin-button a:visited{
   color:#c0c0d0;
   font-size: .8em;
   padding: 1em;
}
#page-wrap .admin-button a:hover {
   color:#2042b0;
}