/* Estilos añadidos para pantalla ancha como la de PCs y televisores */

body { background: #999; }

#page-wrap:after { content: "Wide Layout"; }

/* Panel de navegación a la izquierda */
#page-wrap  nav#n1  { 
  float: left; 
  width: 15%; 
  border-style: none;
}
#page-wrap  nav span  { 
  display: inline-block;
  text-align: left;
  margin-top: 4px;
  background-color: #e0e0e0;
  width: 90%;
  padding: .25em;
}


section   { min-height: 200px ;}
footer    { clear: both;  display: block; }