        
        <div>  <!-- título y cajerín para la pegunta -->
          <label for"preg" class="ren">Pregunta:</label>
          <input type="text" id="preg" name="quiz[pregunta]" 
                 value="<%= quiz.pregunta %>"></input>
        </div>
        <div>  <!-- título y cajerín para la respuesta -->
          <label for"resp" class="ren">Respuesta:</label>
          <input type="text" id="resp" name="quiz[respuesta]" 
                 value="<%= quiz.respuesta %>"></input>
        </div>
        <div>  <!-- botones de cancelar y aceptar -->
          <a href="/quizes"><button type="button">Cancelar</button></a>
          <input type="submit" value="Salvar">
        </div>

