        <form method="get" action="<%= quiz.id %>/answer">        
          Pregunta: 
          <p class="enunciado"> <%= quiz.pregunta %> </p>
          <input type="text" name="respuesta" value="Responda aquí"/>
          <input type="submit" value="Enviar">
        </form>

