        
        <p>Tema : <%= quiz._tema ? quiz._tema.nombre : "Otro" %> </p>
        <form style="padding-top: 2em" method="get" action="<%= quiz.id %>/answer">        
          Pregunta: 
          <p class="enunciado"> <%= quiz.pregunta %> </p>
          <input type="text" name="respuesta" value="" placeholder="Responda aquí"/>
          <input type="submit" value="Enviar">
        </form>

